[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
[submodule "components/hid-rp/detail"]
	path = components/hid-rp/detail
	url = https://github.com/intergatedcircuits/hid-rp
